@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e5eff5;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.box {
  min-width: 375px;
  margin: 1rem 2rem;
}

main {
  padding: 2rem;
  background-color: #fff;
}

main > * {
  margin-bottom: 1.2rem;
}

main h1 {
  font-size: 1.3rem;
  color: #2ab2af;
}

main p {
  font-weight: 700;
  color: #c0df34;
}

main span {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #98a6bd;
}

main .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article {
  padding: 2rem 1.5rem 0.5rem;
  background-color: #2ab2af;
  color: white;
}

article > * {
  margin-bottom: 1.2rem;
}

article h2 {
  font-size: 1.2rem;
}

article p:nth-child(3) {
  font-size: medium;
  color: rgba(255, 255, 255, 0.767);
}

article button {
  width: 100%;
  padding: .7rem;
  border: none;
  border-radius: 0.3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #c0df34;
  color: rgba(255, 255, 255, 0.849);
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
}

.pricePerMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pricePerMonth p {
  font-size: 2.2rem;
  font-weight: 700;
}

.pricePerMonth span {
  padding-left: 0.8rem;
  color: rgba(255, 255, 255, 0.507);
}

section {
  padding: 1.5rem;
  background-color: #2ab2b0c5;
}

section h3 {
  color: #fff;
  margin-bottom: 1rem;
}

section p:nth-child(2) {
  color: rgba(255, 255, 255, 0.603);
  font-size: medium;
  line-height: 1.3rem;
  padding-right: 4rem;
}

@media (min-width: 590px) {
  .box {
    width: 600px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .row article {
    width: 70%;
  }
  .row section {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */