@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// VARIABLES
// COLORS
$Cyan: #2ab2af;
$Bright_Yellow: #c0df34;
$Light_Gray: #e5eff5;
$Grayish_Blue: #98a6bd;

// SIZES
$padding: 2rem;
$margin: 1rem;
$font: 'Karla', sans-serif;

@mixin center {
display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 @content;
}

@mixin margin-bottom {
     &>*{
        margin-bottom: 1.5rem;
} 

}
body{
    background-color: $Light_Gray;
    font-family: $font;
    font-size: 16px;
    @include center();
    height: 120vh;  
}

.box{
    
    margin: 1rem 2rem;
}
.sizes{
    padding: $padding;
    
    
}


main{
    background-color: #fff;
    @include margin-bottom();
    
    h1{
        font-size: 1.3rem;
        color: $Cyan;
    }

    p{
        font-weight: 700;
        color: $Bright_Yellow;
    }
    
    span{
        font-size:1rem;
        line-height: 1.6rem;
        color: $Grayish_Blue;
    }
     
    .row{
        width: 100%;
        @include center();
    }

    }
    article{
    
        background-color: $Cyan;
        color: #fff;
        @include margin-bottom();

        h2{
            font-size: 1.3rem;
        }
    }

    section{
        
        background-color: rgb(252, 184, 59);
    }

   